/* variables*/
html {
	--px1: calc(100cqw / 376);
	--px2: calc(2 * var(--px1));
	--px4: calc(4 * var(--px1));
	--px5: calc(5 * var(--px1));
	--px8: calc(8 * var(--px1));
	--px10: calc(10 * var(--px1));
	--px11: calc(11 * var(--px1));
	--px12: calc(12 * var(--px1));
	--px14: calc(14 * var(--px1));
	--px16: calc(16 * var(--px1));
	--px18: calc(18 * var(--px1));
	--px20: calc(20 * var(--px1));
	--px24: calc(24 * var(--px1));
	--px28: calc(28 * var(--px1));
	--px32: calc(32 * var(--px1));
	--px36: calc(36 * var(--px1));
	--px42: calc(42 * var(--px1));
	--px48: calc(48 * var(--px1));
	--px52: calc(52 * var(--px1));
	--px56: calc(56 * var(--px1));
	--px64: calc(64 * var(--px1));
	--leftpad: var(--px4);
	--red: #e0251f;
	--orange: #fc6605;
	--yellow: #ffdc00;
	--green: #abd400;
	--blue: #2456b3;
	--violet: #9733c2;

	--black: #000000;
	--gray01: #030303;
	--gray05: #0d0d0d;
	--gray10: #1a1a1a;
	--gray15: #262626;
	--gray20: #333333;
	--gray30: #4d4d4c;
	--gray40: #686865;
	--gray50: #80807b;
	--gray60: #9d9d95;
	--gray70: #b6b6b0;
	--gray80: #d1d1c7;
	--gray90: #e5e5dc;
	--white: #ffffff;

	--bg-0: var(--black);
	--bg-1: var(--gray05);
	--bg-2: var(--gray10);
	--bg-3: var(--gray30);
	--fg-1: #212121;
	--fg-2: #4d4d4d;
	--link: var(--gray50);
	--link-hover: var(--gray80);
	--link-active: var(--white);
	--font: Rubik, apple-system;
	--font-mono:
		ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--border-radius: 8px;

	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/old Edge */
}
html::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}
html.dark {
	--bg-1: #2e2e2e;
	--bg-2: #4d4d4d;
	--bg-3: #666;
	--fg-1: #e6e6e6;
	--fg-2: #b3b3b3;
	--fg-3: #999;
	--link: #73c1fc;
	--link-hover: #91cefd;
	--link-active: #4baffb;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
*:not(dialog) {
	margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
		/* can be made more default?? */
	}
}
body {
	color: white;
	background: var(--black);
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-size: 1rem;
	font-family: var(--font);
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	scrollbar-width: none;
	-ms-overflow-style: none;
}
body::-webkit-scrollbar {
	display: none;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
span,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
	hyphens: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
:root {
	isolation: isolate;
}
.container {
	position: relative;
	width: 100%;
	height: max-content;
	padding-left: var(--leftpad);
}
a {
	text-decoration: none;
	color: inherit;
}
